//gaps:
$gap-small: 10px;
$gap-medium: 15px;
$gap-large: 20px;

//breakpoints:
$bp-xsmall: 539px;
$bp-small: 767px;
$bp-medium: 1023px;
$bp-large: 1199px;
$bp-xlarge: 2499px;

//font-sizes:
$font-xsmall: 12px;
$font-small: 14px;
$font-medium: 18px;
$font-large: 22px;
$font-xlarge: 30px;
$font-header1: 70px;

//fonts
$body-font: courier;

//colors:
$todo-border: #888888;
$todo-font: #D3D3D3;
$todo-font-white: whitesmoke;
$todo-background: black;
$todo-fill: #d9d9d9;